/* Apply the background color */
.homepage {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: center;
  background: linear-gradient(to right, #7b68ee, #778899); /* Purple light mixed with grey */
  overflow: hidden; /* Prevent content overflow */
}

.homepage-image {
  width: 90%;
  height: 60%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 20px;
}

.homepage-text {
  text-align: center;
  padding: 20px;
  width: 100%;
}

.homepage-text h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
  font-family: 'Luckiest Guy', cursive;
  color: #4b0082; /* Dark Purple */
}

.homepage-text p {
  font-size: 1.5rem;
  margin-bottom: 20px;
  font-family: 'Maltonian Tattoo', sans-serif;
  font-weight: bold;
  color: #343a40; /* Dark Grey */
}

.homepage-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
}

.homepage-buttons .btn {
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  text-decoration: none;
  color: #fff;
  width: 80%;
}

.homepage-buttons .btn-primary {
  background-color: #6f42c1; /* Purple */
  border: none;
}

.homepage-buttons .btn-secondary {
  background-color: #343a40; /* Dark Grey */
  border: none;
}

.homepage-buttons .btn-primary:hover,
.homepage-buttons .btn-secondary:hover {
  opacity: 0.8;
}

.social-icons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 15px;
}

.social-icon {
  color: #4b0082; /* Dark Purple */
  font-size: 1.5rem;
  transition: color 0.3s ease;
}

.social-icon:hover {
  color: #6f42c1; /* Change to a lighter purple on hover */
}

.homepage-footer {
  background-color: #f8f9fa;
  width: 100%;
  padding: 10px;
  text-align: center;
  font-size: 0.9rem;
  color: #6c757d;
}

/* Loader Styles */
.loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: #4b0082; /* Dark Purple */
}

.loader p {
  margin-top: 10px;
  font-size: 1.2rem;
}

.login-error {
  margin-top: 20px;
  color: red;
  cursor: pointer;
  text-align: center;
}

.login-error p {
  font-size: 1rem;
  text-decoration: underline;
}

.login-error:hover p {
  color: darkred;
}

.homepage-buttons .btn-register {
  background-color: #4CAF50; /* Green */
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.homepage-buttons .btn-register:hover {
  background-color: #45a049; /* Darker green */
}



/* Media Queries for Responsiveness */
@media (max-width: 1200px) {
  .homepage-text h1 {
    font-size: 1.8rem;
  }

  .homepage-text p {
    font-size: 0.9rem;
  }
}

@media (max-width: 900px) {
  .homepage-text h1 {
    font-size: 1.6rem;
  }

  .homepage-text p {
    font-size: 0.8rem;
  }

  .homepage-buttons .btn {
    padding: 8px 16px;
  }

  .social-icon {
    font-size: 1.3rem; /* Adjust icon size for smaller screens */
  }
}

@media (max-width: 680px) {
  .homepage-text h1 {
    font-size: 1.4rem;
  }

  .homepage-text p {
    font-size: 0.7rem;
  }
}

@media (max-width: 580px) {
  .homepage-text h1 {
    font-size: 1.3rem;
  }

  .homepage-text p {
    font-size: 0.6rem;
  }
}

@media (max-width: 540px) {
  .homepage-text h1 {
    font-size: 1.2rem;
  }

  .homepage-text p {
    font-size: 0.5rem;
  }
}

@media (max-width: 480px) {
  .homepage-text h1 {
    font-size: 1rem;
  }

  .homepage-text p {
    font-size: 0.4rem;
  }

  .homepage-buttons .btn {
    padding: 8px 16px;
    font-size: 0.9rem;
  }
}

@media (max-width: 420px) {
  .homepage-text h1 {
    font-size: 0.9rem;
  }

  .homepage-text p {
    font-size: 0.3rem;
  }
}

@media (max-width: 380px) {
  .homepage-text h1 {
    font-size: 0.8rem;
  }

  .homepage-text p {
    font-size: 0.3rem;
  }
}

@media (max-width: 320px) {
  .homepage-text h1 {
    font-size: 0.7rem;
  }

  .homepage-text p {
    font-size: 0.3rem;
  }

  .social-icon {
    font-size: 1.2rem; /* Further reduce icon size */
  }
}

