.shared-list-container {
  background-color: #f8f9fa;
  padding: 2rem;
}

.list-item {
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.item-content {
  display: flex;
  flex-direction: column;
}

.item-name {
  font-weight: bold;
}

.item-category {
  font-style: italic;
  color: #6c757d;
}

.item-quantity, .item-notes {
  color: #343a40;
}


.list-item-category {
  font-style: italic;
  color: #6c757d;
}

.icon {
  cursor: pointer;
}

.icon:hover {
  color: #ffc107;
}

@media (max-width: 768px) {
  .shopping-list-container {
    padding: 10px;
  }
}


/* Media Queries for Responsiveness */
@media (max-width: 1200px) {
  .shared-list-container {
    padding: 1.5rem;
  }
}

@media (max-width: 1000px) {
  .shared-list-container {
    padding: 1rem;
  }
}

@media (max-width: 900px) {
  .shared-list-container {
    padding: 0.75rem;
  }
}

@media (max-width: 800px) {
  .shared-list-container {
    padding: 0.5rem;
  }
}

@media (max-width: 680px) {
  .shared-list-container {
    padding: 0.5rem;
  }
}

@media (max-width: 540px) {
  .shared-list-container {
    padding: 0.5rem;
  }
}

@media (max-width: 480px) {
  .shared-list-container {
    padding: 0.5rem;
  }
}

@media (max-width: 420px) {
  .shared-list-container {
    padding: 0.5rem;
  }
}

@media (max-width: 320px) {
  .shared-list-container {
    padding: 0.5rem;
  }
}
